@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
/*--- NAB BAR SECTION ---*/
.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    z-index: 999;
}
.logo img{
    width: 40px;
}
.nav-ul{
    position: absolute; /*Agregar media query con hamburger button*/
    right: 200px;
    padding-top: 20px;
    display: inline-block;
}
.nav-ul li{
    position: relative;
    left: 10rem;
    display: inline-block;
    list-style: none;
}
.nav-ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-weight: 300;
}
.nav-ul a:hover{
    color: #AEA4F2;
}
/*--- HERO IMG SECTION ---*/
.hero-img{
    width: 100%;
    min-height: 95vh; /*Cambiar a 100 cuando agregue news section*/
    background: 
    linear-gradient(rgba(26,26,26,0.3), 
    rgba(26,26,26,0.3)), 
    url(../images/index-img/banner.jpg);
    background-size: cover;
}
.hero-img .main-content{
    text-align: center;
    color: #fff;
}
.main-content{
    padding-top: 280px; /*Luego lo cambio con flexblox*/
}
.hero-img .main-content h1{
    font-size: 7em;    
}
.hero-img .main-content p{
    font-size: 2em;
}
/*--- ABOUT US SECTION ---*/

.banner-container{
        background: 
        linear-gradient(rgba(26,26,26,0.3), 
        rgba(26,26,26,0.3)), 
        url(../images/about-us/banner.png);
        background-size:cover;
        min-height: 40vh;
        margin-top: 4rem;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        margin:65px 0px 0px 0px;
        width: 100%;
}
.banner-content{
    padding: 110px 250px;
    text-align: center;
}
.banner-content h2{
    font-size: 3em;
    letter-spacing: 2px;
    color: #fff;
}
.banner-content h2 span{
    color: #AEA4F2;
}
.banner-content p{
    font-weight: 200;
    color: #fff;
}
.img-box{
    position: relative;
    width: 100%;
    height: 300px;
}
.img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-content{
    background: #111;
    color: #fff;
    text-align: center;
    font-weight: 200;
    padding: 5px;
}
/*--- FOOTER SECTION ---*/
.container-footer{
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}
.footer-title{
    margin: 15px 0 0 12px;
    font-weight: 500;
}
.social-media{
    display: flex;
    font-size: 30px;    
}
.links{
    color:#111;
    padding: 0 2rem;
}
.links:hover{
    color: #AEA4F2;
}

/*--- GALLERY SECTION ---*/
.container-gallery{
    padding: 30px; /*Aplicar GRID + hover opacity*/
}
.container-gallery .gallery-images img{
    display: inline-block;
    width: 250px;
    margin: 3px;
    

}

/*--- CONTACT SECTION ---*/
.title{
    width: 100%;
    color: black;
    margin-top: 5rem;
    padding: 30px 30px 5px 40px;
}
.title h2{
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.container-contact .contact-form{
    position: relative;
    width: 700px;
    padding: 0 30px;
}
.container-contact .contact-form .contact-row{
    width: 100%;
    /*Agregar display flex */
}

.container-contact .contact-form .contact-row .contact-column{
    width: 50%;
    margin: 10px;
}
.container-contact .contact-form .contact-row .contact-columnarea{
    width: 100%;
    margin: 10px;
}
.container-contact .contact-form .contact-row input,
.container-contact .contact-form .contact-row textarea
{
    width: 100%;
    padding: 8px;
    border: 2px solid #AEA4F2;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 16px;
}
.container-contact .contact-form .contact-row input[type="submit"]{
    display: inline-block;
    max-width: 150px;
    padding: 8px 18px;
    font-weight: 500;
    letter-spacing: 2px;
    background: #AEA4F2;
    color: #fff;
    cursor: pointer;
}
.container-contact .contact-form .contact-row input[type="submit"]:hover{
    background: #877ec4;
    border: 2px solid #877ec4;
}
.map-img{
    padding: 40px;
}
.map-img img{
    width: 600px;
}

/*--- DONATE SECTION ---*/
.donate-info{
    display: flex; /*Centrar con flexbox*/
    
    margin: 80px 150px 20px 150px;
}
.donate-info .donate-content{
    padding: 60px;
    width: 50%;
}
.donate-content h2{
    font-size: 2.5em;
}
.donate-img img{
    width: 400px;
    border-radius: 30px;
}
.title-news{
    text-align: center;
    margin: 10px;
}
.title-news h2{
    font-size: 2em;
}
.news-container{
    margin: 30px;
}
.content-news{
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
}
.box-news{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.box-news .text-content{
    text-align: center;
    padding: 80px 20px;
    margin: 10px;
}
.box-news .text-content h3{
    font-size: 2.2em;
    color: #AEA4F2;
}
.button-donate input{
    display: inline-block;
    margin-top: 10px;
    max-width: 150px;
    padding: 8px 18px;
    font-weight: 500;
    border: 2px solid #AEA4F2;
    background-color: #fff;
    color: #111;
    cursor: pointer;
}