/*--- FOOTER SECTION ---*/
.container-footer{
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    .footer-title{
        margin: 15px 0 0 12px;
        font-weight: 500;
    }
    .social-media{
        display: flex;
        font-size: 30px; 
        .links{
            color:#111;
            padding: 0 2rem;
            :hover{
                color: $main-color;
            }
        }
    }
}